<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>NRTMSRTS</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/gameStyle.css"/>
</head>
<body>
  <nav>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>
  <p>NRTMSRTS</p>
  <section id="game">

  </section>
  <section id="chat">
    <section>
	<p>Username: <input type=text id=txtUsername></p>
	<p>Message: <input type=text id=txtMsg></p>
	<p><button id=btnSend>Send</button>
</section>

<section>
	<h2>Server Messages</h2>
	<div id=lblStatus><p>Type in a username and a message, then click "Send".</p></div>
</section>

<section>
	<h2>Chat Messages</h2>
	<div id=lblChat></div>
</section>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
  <script src="/assets/bundle.js"></script>
</body>
</html>
